brotlipy==0.7.0
cachetools==5.2.0
certifi
cffi
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.5
cryptography==36.0.2
dnspython==2.2.1
filelock==3.8.0
Flask==2.2.2
Flask-Cors==3.0.10
google-api-core==2.10.0
google-api-python-client==2.60.0
google-auth==2.11.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.56.4
httplib2==0.20.4
idna
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.1.0
MarkupSafe==2.1.1
numpy==1.23.2
oscrypto==1.3.0
pandas==1.4.4
protobuf==4.21.5
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser
pycryptodomex
PyJWT
pymongo==4.2.0
pyOpenSSL
pyparsing==3.0.9
PySocks
python-dateutil==2.8.2
pytube==12.1.0
pytz==2022.2.1
requests
rsa==4.9
scikit-learn==1.1.2
scipy==1.9.0
six
snowflake-connector-python
threadpoolctl==3.1.0
typing_extensions
uritemplate==4.1.1
urllib3==1.26.12
Werkzeug==2.2.2
win-inet-pton
wincertstore==0.2
youtube-dl==2021.12.17
